/* Importa a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico de margens e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilo do body */
body {
    background-color: rgb(255, 255, 255); /* Fundo branco */
    text-align: center; /* Centraliza textos */
    font-family: 'Montserrat', sans-serif; /* Fonte principal */
}

/* Cabeçalho */
header {
    background-color: #2c3e50; /* Fundo escuro */
    display: flex; /* Layout flexível */
    justify-content: space-between; /* Espaçamento entre elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 30px; /* Espaçamento interno */
    position: relative;
    z-index: 2; /* Garante sobreposição */
}

/* Logo dentro do header */
header img {
    width: 30px;
    height: auto;
}

/* Links do menu */
.textomenu a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Links dentro do container .nomes */
.nomes a {
    font-size: 55px;
    font-weight: bold;
    color: rgb(49, 49, 49);
    text-decoration: none;
}

/* Títulos h2 */
h2 {
    padding: 15px;
    font-size: 40px;
    color: #000000;
}

/* Container de título com centralização */
.divtitulo {
    display: flex;
    justify-content: center;
}

/* Cor de preenchimento de paths SVG dentro de .divtitulo */
.divtitulo path {
    fill: #000000;
}

/* Títulos h1 */
h1 {
    color: #000000;
    padding-top: 45px;
}

/* Tabela */
table {
    justify-content: center;
}

/* SVGs gerais */
svg {
    width: 100px;
    height: auto;
    display: flex;
    padding: 15px;
}