@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;

}
a{
    text-decoration: none;
    color: white;
}
h2{
    padding:  15px;
    font-size: 40px;
    color: rgb(217, 0, 225);
}
.divtitulo {
    display: flex;
    justify-content: center;
}

.divtitulo path {
    fill: white;
}

h1 {
    color: white;
    padding-top: 30px;
}
table {
    justify-content: center;
}
svg{
    display: flex;
    padding: 15px;
}
* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #2c3e50;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 30px;
    display: flex;
    justify-content: end;
}
.textomenu a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}