@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;

}
a{
    text-decoration: none;
    color: white;
}
h2{
    font-size: 40px;
    color: rgb(217, 0, 225);
}
.divtitulo {
    display: flex;
    justify-content: center;
}

.divtitulo path {
    fill: white;
}

h1 {
    color: white;
    padding-top: 10px;
}
table {
    justify-content: center;
}
svg{
    display: flex;
    padding: 25px;
}